* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS";
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  padding: 4rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 90vh;
  width: 600px;
}

main > input {
  border: 3px solid rgb(255, 0, 0);
  padding: 10px;
  /* grid-column-start:2;
  grid-column-end: 4; */
  /* grid-column-start: span 3;
  grid-column-end: 6; */
  text-align: center;
}

#reset {
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  background-color: rgb(66, 66, 66);
  color: whitesmoke;
}

#reset:hover {
  transform: scale(1.04);
}
