* {
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  padding: 4rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 80vh;
  width: 600px;
  column-gap: 5px;
  row-gap: 5px;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.362);
  border-radius: 10px;
  background-color: rgb(171, 87, 255);
}

.reset {
  border-radius: 10px;
  background-color: rgb(163, 0, 0);
  width: 150px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border: none;
}

.reset:hover {
  background-color: rgb(252, 0, 0);
  color: black;
}
